*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: white;
}

ul {
    list-style-type: none;
}

.navbar{
    background-color: #4714d3;
}

.navbar-brand{
    color: white;
    font-weight:bolder;
}

.small-card {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#457B9D !important;
    padding: 5px;
  }
  
.title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#457B9D !important;
}

input:focus{
    outline: none;
}

select:focus{
    outline: none;
}

.box{
	margin: 10px 0px;
	border: 1px solid #2b772e;
	text-align: center;
	font-weight: bold;
	color: #2b772e;
	}